<%provide(:title, "Home")%>
<div class="mainCont">
<%= image_tag("golfswing.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    

<h1>Home</h1>
<%=render 'layouts/popular'%>
<%=render 'layouts/categories'%>
</div>

